@using X.PagedList.Mvc.Core;
@model X.PagedList.IPagedList<ProjectMVC.Models.AnuncioWebmotors>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm())
        {
            <div class="form-group form-inline">
                <div class="col-md-3">
                    <div class="checkbox">
                        @Html.Hidden("marca")
                        <select id="selMarca" class="form-control" onchange="ChangeMake(this);">
                            <option value="0">Selecione um modelo</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="checkbox">
                        @Html.Hidden("modelo")
                        <select id="selModelo" class="form-control" onchange="ChangeModel(this);">
                            <option value="0">Selecione um modelo</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6">
                        <div class="checkbox">
                            @Html.Hidden("versao")
                            <select id="selVersao" class="form-control" onchange="ChangeVersion(this);">
                                <option value="0">Selecione uma Versao</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Procurar" class="btn btn-outline-success" />
            </div>
        }
    </div>
</div>
<p>
    <a asp-action="Create" class="btn btn-primary">Adicionar</a>
</p>
<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().ID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().marca)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().modelo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().versao)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().ano)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().quilometragem)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.marca)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.modelo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.versao)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ano)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.quilometragem)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-warning">Editar</a>
                            <a asp-action="Details" asp-route-id="@item.ID" class="btn btn-info">Detalhes</a>
                            <a asp-action="Delete" asp-route-id="@item.ID" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div>
    <div style="float: right">
        Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount
    </div>

    <div class="justify-content-center">
        @Html.PagedListPager(Model, pag => Url.Action("Index", new { pag }),
       new X.PagedList.Web.Common.PagedListRenderOptions
       {
           FunctionToTransformEachPageLink = (liTag, aTag) =>
           {
               aTag.Attributes.Add("class", "page-link".ToString());
               return aTag;
           },
           LiElementClasses = new[]
           {
               "page-item"
           },
           UlElementClasses = new[]
           {
               "pagination  justify-content-left"
           }
            })
    </div>
</div>
<script src="~/js/site.js" asp-append-version="true"></script>

